/* TestimonialCard.css */

.testimonials-list{
        display: flex;
        align-items: center;
        align-content: stretch;
        justify-content: center;
        max-width: 1024px;
        margin: 0 auto;
        gap: 40px;
       height: 100%;
       padding-bottom:100px ;
}

.testimonial-card {

   

 

 
    text-align: center;
  color: white;
    width: 100%;
    background-color: #016fff;
    border: 1px solid #ddd;
    
    padding: 20px;
    margin:0 auto;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  
  .testimonial-card__image {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }
  
  .testimonial-card__content {
    margin-top: 20px;
  }
  
  .testimonial-card__title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .testimonial-card__subtitle {
    font-size: 1.2em;

    margin-bottom: 10px;
  }
  
  .testimonial-card__description {
    font-size: 1em;
   
  }
  