/* ProfessionalCard.css */

.professional-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .professional-card:hover {
    transform: translateY(-10px);
  }
  
  .professional-card__image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position:top  center;
  }
  
  .professional-card__info {
    padding: 20px;
  }
  
  .professional-card__name {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .professional-card__position {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
  }
  
  .professional-card__description {
    font-size: 1em;
    color: #333;
    margin: 10px 0;
  }
  
  /* Estilo para a lista de profissionais */
  
  .professionals-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  