/* Header */
header {
    background-color: var(--white);
    color: var(--gray-dark);
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Container */
.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

/* Logo */
.logo {
    max-height: 70px;
    padding: 10px 0;
}

/* Navegação */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: var(--gray-dark);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--secondary-orange);
}

/* Botão de chamada */
.call-button {
    background-color: var(--secondary-orange);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;
}

.call-button:hover {
    background-color: var(--dark-orange);
    transform: scale(1.05);
}

/* Menu Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: var(--gray-dark);
    transition: transform 0.3s;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Oculta o menu padrão */
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--white);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 10px 0;
    }

    nav ul.active {
        display: flex; /* Mostra o menu ao clicar no hamburger */
    }

    .hamburger {
        display: flex; /* Exibe o menu hamburger */
    }

    .call-button {
        display: none; /* Oculta o botão de chamada em telas menores */
    }
}
